.row {
    padding: 40px;
    margin-top: -30px;
}

p {
    margin-top: 100px;
    display: inline-block;
    padding: 5px;
}

.table {
    border: 1px solid #dee2e6;
}

th {
    color: #575353;
    font-weight: bold;
    font-size: 0.9em;
}

.mat-elevation-z8 table {
    width: 100%;
}

.mat-elevation-z8 {
    margin-bottom: 20px;
}