<div class="row">
    <div class="col-8">
        <div class="summary">
            <cars-summary [cars]="cars$ | async"></cars-summary>
        </div>
    </div>
    <div class="col-4">
        <p>
            <a routerLink="/add-car" class="btn btn-primary">Add New Car</a>
        </p>
        <p>
            <a routerLink="/car-edit" class="btn btn-primary">Edit Existing Cars</a>
        </p>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="marka">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Marka</th>
            <td mat-cell *matCellDef="let element">{{ element.marka }}</td>
        </ng-container>

        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
            <td mat-cell *matCellDef="let element">{{ element.model }}</td>
        </ng-container>

        <ng-container matColumnDef="cena">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
            <td mat-cell *matCellDef="let element">{{ element.cena }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>
